{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}

<div class="col-5">
    <form action="{% url 'label_delete' label.id %}" method="post">
        <div>
            <h1 class="my-4">{% trans 'Delete label' %}</h1>
            <p>{% trans 'Are you sure you want to delete' %} {{ label.name }}?</p>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button _('Yes, delete') button_class='btn-danger' %}
        </div>
    </form>
</div>

{% endblock content %}