<!doctype html>
<html lang="en">
{% load i18n %}
{% load django_bootstrap5 %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AF Task Manager</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body class="d-flex flex-column min-vh-100">

    {% block nav %}
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">{% trans 'Task Manager' %}</a>

            <div class="collapse navbar-collapse">

                <ul class="navbar-nav me-auto">

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'users' %}">{% trans 'Users' %}</a>
                    </li>

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'st_list' %}">{% trans 'Statuses' %}</a>
                    </li>

                </ul>
                <ul class="navbar-nav ms-auto">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <input class="btn nav-link" type="submit" value="{% trans 'Log Out' %}">
                    </form>
                </ul>

                {% else %}
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">{% trans 'Log In' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">{% trans 'Sign Up' %}</a>
                    </li>
                </ul>
                {% endif %}

            </div>
        </div>
    </nav>
    {% endblock nav %}

    <div class="container wrapper flex-grow-1">
        {% bootstrap_messages %}

        {% block content %}
        {% endblock content %}
    </div>

</body>

</html>